/* Universal-Section */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-styles-Section */

.fonts-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Header & Nav-Section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: #ffffff;
}

.logo {
    width: 139px;
    height: 60px;
}
.menu {
    display: flex;
    text-decoration-style: none;
    gap: 32px;
}
.menu li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}
nav .btn-1 {
    min-width: 164px;
    height: 44px;
    border-radius: 4px;
    border: none;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 12px 16px;
}
.btn-1 :hover {

}